@model Notice

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Edit">
        <div class="form-group">
            <label asp-for="Text"></label>
            <input type="text" class="form-control" style="width:300px" asp-for="Text" maxlength="500" placeholder="Title">
            <span class="text-danger" asp-validation-for="Text"></span>
            <label asp-for="Date"></label>
            <input type="text" class="form-control" style="width:300px" type="date" asp-for="Date" maxlength="500" placeholder="Text">
            <span class="text-danger" asp-validation-for="Date"></span>
        </div>
        <button type="submit" class="btn btn-primary me-2">Save</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>
