@model List<About>
@{
    ViewData["Title"] = "About";
    int count = 1;
}
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Number
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Settings
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                <p>@item.Title</p>
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Detail" asp-route-id="@item.Id">
                                    Detail
                                </a>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                                    Edit
                                </a>
                                
                            </td>
                        </tr>
                        count++;
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>


