@model EventsVM
@{
    ViewData["Title"] = "Edit";
}

<div class="container ms-4 mt-5">
    <div class="ms-12">
        <div class="img">
            <img src="~/img/event/@Model.Image" style="width:350px; height:250px;" />
        </div>
        <form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Photo"></label>
                <input class="form-control" style="width:300px" asp-for="Photo">
                <span class="text-danger" asp-validation-for="Photo"></span>
                <label class="mt-2" asp-for="Name"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Name" placeholder="Name" maxlength="80">
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="form-group">
                    <label type="text" asp-for="Desc" placeholder="Event description">Event description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="Desc" rows="15"></textarea>
                    <span asp-validation-for="Desc" class="text-danger"></span>
                </div>
                <label class="mt-2" asp-for="Date"></label>
                <input class="form-control form-control-sm mt-1" type="date" asp-for="Date" placeholder="Date" maxlength="200">
                <span asp-validation-for="Date" class="text-danger"></span>
                <label class="mt-2" asp-for="Location"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Location" placeholder="Location" maxlength="200">
                <span asp-validation-for="Location" class="text-danger"></span>
                <label class="mt-2" asp-for="StartTime"></label>
                <input class="form-control form-control-sm mt-1" type="time" asp-for="StartTime" placeholder="Start Time" maxlength="200">
                <span asp-validation-for="StartTime" class="text-danger"></span>
                <label class="mt-2" asp-for="EndTime"></label>
                <input class="form-control form-control-sm mt-1" type="time" asp-for="EndTime" placeholder="End Time" maxlength="200">
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPartial" />
}