@model CourseVM
@{
    ViewData["Title"] = "Edit";
}

<div class="container ms-4 mt-5">
    <div class="ms-12">
        <div class="img">
            <img src="~/img/course/@Model.Image" style="width:350px; height:250px;" />
        </div>
        <form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Photos"></label>
                <input class="form-control" style="width:300px" asp-for="Photos">
                <span class="text-danger" asp-validation-for="Photos"></span>
                <label class="mt-2" asp-for="Name"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Name" placeholder="Slider title" maxlength="100">
                <span asp-validation-for="Name" class="text-danger"></span>
                <label class="mt-2" asp-for="Description"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Description" placeholder="Slider description" maxlength="100">
                <span asp-validation-for="Description" class="text-danger"></span>
                <div class="form-group">
                    <label type="text" asp-for="About" placeholder="Slider description">Course about</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="About"  rows="3"></textarea>
                    <span asp-validation-for="About" class="text-danger"></span>

                </div>
            </div>
            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>
