@model CourseVM
@{
    ViewData["Title"] = "Edit";
}

<div class="container ms-4 mt-5">
    <div class="ms-12">
        <div class="img">
            <img src="~/img/course/@Model.Image" style="width:350px; height:250px;" />
        </div>
        <form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Photo"></label>
                <input class="form-control" style="width:300px" asp-for="Photo">
                <span class="text-danger" asp-validation-for="Photo"></span>
                <label class="mt-2" asp-for="Name"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Name" placeholder="Course name" maxlength="80">
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="form-group">
                    <label type="text" asp-for="Desc" placeholder="Course description">Course description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="Desc" rows="15"></textarea>
                    <span asp-validation-for="Desc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label type="text" asp-for="About" placeholder="About course">About course</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="About" rows="15"></textarea>
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label type="text" asp-for="Apply" placeholder="Apply">Course apply</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="Apply" rows="15"></textarea>
                    <span asp-validation-for="Apply" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label type="text" asp-for="Certification" placeholder="Certification"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="Certification" rows="15"></textarea>
                    <span asp-validation-for="Certification" class="text-danger"></span>
                </div>
                <label class="mt-2" asp-for="Starts"></label>
                <input class="form-control form-control-sm mt-1" type="date" asp-for="Starts" maxlength="80">
                <span asp-validation-for="Starts" class="text-danger"></span>
                <label class="mt-2" asp-for="Duration"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Duration" placeholder="Course duration" maxlength="200">
                <span asp-validation-for="Duration" class="text-danger"></span>
                <label class="mt-2" asp-for="Class"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Class" placeholder="Class" maxlength="200">
                <span asp-validation-for="Class" class="text-danger"></span>
                <label class="mt-2" asp-for="Skill"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Skill" placeholder="Course skills" maxlength="200">
                <span asp-validation-for="Skill" class="text-danger"></span>
                <label class="mt-2" asp-for="Language"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Language" placeholder="Language" maxlength="200">
                <span asp-validation-for="Language" class="text-danger"></span>
                <label class="mt-2" asp-for="Students"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Students" placeholder="Students count" maxlength="200">
                <span asp-validation-for="Students" class="text-danger"></span>
                <label class="mt-2" asp-for="Assesments"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Assesments" placeholder="assesments" maxlength="200">
                <span asp-validation-for="Assesments" class="text-danger"></span>
                <label class="mt-2" asp-for="Fee"></label>
                <input class="form-control form-control-sm mt-1" type="text" asp-for="Fee" placeholder="Course fee" maxlength="200">
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPartial" />
}