
@{
    ViewData["Title"] = "EmailVerification";
}

<div class="container-fluid">
    <h3> Hi</h3>
    <h3>We just need to verify your email address before you can access our website.</h3>
    <h3> Please verify your email address</h3>
</div>

