
@{
    ViewData["Title"] = "ForgotPasswordConfirm";
}

<div class="container-fluid mt-50 pb-50" style="text-align:center">
    <h3>We just need to verify your email address before you change your password.</h3>
    <h3> Please verify your email address</h3>
</div>


