@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>Reset Password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Login start -->
<div class="register-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Reset password</h2>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        <div class="login-form">
                            <form method="post" asp-action="ResetPassword">
                                <input type="hidden" asp-for="Email" value="@Model.Email" />
                                <input type="hidden" asp-for="Token" value="@Model.Token" />
                                <input asp-for="Password" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <input asp-for="ConfirmPassword" placeholder="Confirm password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <div class="button-box">
                                    <button type="submit" class="default-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register end -->
@section Scripts{
    <partial name="_ValidationPartial" />
}->
