@model List<Testimonial>
@{
    ViewData["Title"] = "Default";
    Layout = null;
}

<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                @foreach (var item in Model)
                {
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="single-testimonial">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="~/img/testimonial/@item.Imge" alt="testimonial">
                                </div>
                                <div class="testimonial-content">
                                    <p>@item.Desc</p>
                                    <h4>@item.Name</h4>
                                    <h5>@item.Position</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->